@model IEnumerable<MyHRSuite.Objects.HRCore>

@{
    ViewBag.Title = "HR Core";
}


<div class="col-sm-12 mb-4">
    <div class="card-group">
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-book"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">@ViewBag.hrCore.Contacts</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">Contacts</small>
                <div id="contacts" class="progress progress-xs mt-3 mb-0 bg-flat-color-4" style="width: 100%; height: 5px;"></div>
            </div>
        </div>
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa ti-location-arrow"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">@ViewBag.hrCore.Address</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">Addresses</small>
                <div id="address" class="progress progress-xs mt-3 mb-0 bg-flat-color-2" style="width: 40%; height: 5px;"></div>
            </div>
        </div>


        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-file-o"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">@ViewBag.hrCore.Documents</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">Documents</small>
                <div id="documents" class="progress progress-xs mt-3 mb-0 bg-flat-color-3" style="width: 40%; height: 5px;"></div>
            </div>
        </div>

        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-users"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">@ViewBag.hrCore.Dependents</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">Dependents</small>
                <div id="dependents" class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
    </div>
</div>


<div class="col-sm-12 mb-4">
    <div class="card-group">
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa ti-briefcase"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">@ViewBag.hrCore.EmergencyContacts</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">emergency Contacts</small>
                <div id="emergency" class="progress progress-xs mt-3 mb-0 bg-flat-color-5" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-shield"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">@ViewBag.hrCore.ProfessionalMemberships</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">Memberships</small>
                <div id="membership" class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
            </div>
        </div>


        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa ti-id-badge"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">@ViewBag.hrCore.WorkPermits</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">Permits</small>
                <div id="workpermit" class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
            </div>
        </div>

        <div class="card col-md-6 no-padding ">
            <div class="card-body">
                <div class="h1 text-muted text-right mb-4">
                    <i class="fa fa-certificate"></i>
                </div>

                <div class="h4 mb-0">
                    <span class="count">@ViewBag.hrCore.Qualification</span>
                </div>

                <small class="text-muted text-uppercase font-weight-bold">Qualifications</small>
                <div id="qualification" class="progress progress-xs mt-3 mb-0 bg-flat-color-1" style="width: 40%; height: 5px;"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        var elements = ["#qualification","#workpermit","#membership","#emergency","#dependents","#documents","#address","#contacts"];
        
        @if( ViewBag.hrCore != null)
        {
            foreach (var el in ViewBag.hrCore.GetType().GetProperties())
            {
                /*if(el.GetValue() > 10 && el.GetValue() < 25)
                {

                }*/
            }
        }

    </script>
}